<form class="form" id="new_question" method="post" action="/questions">
  <input type= "text" name= "question[title]" placeholder="Question Title"/>
  <textarea class="textbox" name= "question[description]" placeholder="Description"/></textarea>
  <input class="button" type="submit" value="Submit">
</form>
