<div>
  <%@questions.each do |question|%>
    <%=erb :"_vote_question", locals: {question: question}%>
    <p id="question_<%=question.id%>"><a href='/questions/<%=question.id%>'><%=question.title%></a></p>
  <% end %>
</div>
