<div>
  <%@questions.each do |question|%>
    <p class="question" id="question_<%=question.id%>"><a class="question_link" href='/questions/<%=question.id%>'><%=question.title%></a></p>
  <% end %>
</div>
