<h1>this is the question index view</h1>

<!-- <ul id="question_container">
  <%@questions.each do |question|%>
    <li><a href='/questions/<%=question.id%>'><%=question.title%></a></li>
  <% end %>
</ul> -->
<div id="question_container">
  <%= erb :'questions/_questions',layout: false, locals: { questions: @questions } %>
</div>
