<div class="question-index">
  <h1 class="title">the dream of the 90s is alive in Portland</h1>

  <div id="question_container">
    <%= erb :'questions/_questions',layout: false, locals: { questions: @questions } %>
  </div>
</div>
