<h1>this is the question index view</h1>
<ul>
  <%@questions.each do |question|%>
    <li><a href='/questions/<%=question.id%>'><%=question.title%></a></li>
  <% end %>
</ul>
<a href='/questions/new'>Create a new Post</a>
