<div class="pop"
  <form id="new_question" method="post" action="/questions">
    Question: <input type= "text" name= "question[title]" />
    Description: <input type="textarea" name= "question[description]" />
    <input type="submit" value="Submit"/>
  </form>
</div>
