<div class="pop">
  <form action="/login" method="post">
    Email:<br>
    <input type="email" name="user[username]" placeholder="username">
    <br>
    Password:<br>
     <input type="password" name="user[password]" placeholder="password">
    <br><br>
    <input type="submit" value="Submit">
  </form>
</div>
