img.banner {
    display: block;
    margin: 0 auto;
}
.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav-li {
    float: left;
}

.nav-li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav-li:hover {
    background-color: #111;
}
.logout {
    margin: 0;
    overflow: hidden;
    background-color: #333;
     color: white;
     border:none;
     font: inherit;
     margin: 0;
     display: block;
     text-align: center;
     padding: 27px;
     float: left;
}
.logout:hover {
    background-color: #111;
}
