body {
  padding: 50px;
}
.banner {
    display: block;
    margin: 0 auto;
}
.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav-li {
    float: left;
}

.nav-li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav-li:hover {
    background-color: #111;
}

.logout {
    margin: 0;
    overflow: hidden;
    background-color: #333;
    color: white;
    border:none;
    font: inherit;
    margin: 0;
    display: block;
    text-align: center;
    padding: 27px;
    float: left;
}
.logout:hover {
    background-color: #111;
  }
.pop {
  text-align: center;
}
.h1 {
  font-family: 'Sansita', sans-serif;
}
.title {
  text-align: center;
}

input[type=text], input[type=password], input[type=textarea], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.textbox{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button {
    width: 100%;
    background-color: #ff6600;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #e65c00;
}

.login {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.question-index {

}
