<h1>New Hipser Sign Up</h1>

<div class="pop">
  <h1>Sign Up</h1>
    <form action='/users' method='POST'>
      <input type="text" name="user[username]" placeholder="Username">
      <input type="password" name="user[password]" placeholder="Password">
      <input type="submit"  value="Sign Up">
    </form>
</div>
