<div>
  <form class="upvote-button" method="POST" action="/question/<%=question.id%>/upvote">
    <input type="submit" value="^" />
  </form>
  <div class="votes-count"> <%= vote_count(question) %> </div>
  <form class="downvote-button" method="POST" action="/question/<%=question.id%>/downvote">
    <input type="submit" value="v" />
  </form>
</div>
