<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <title></title>
</head>
<body>
  <img class="banner" src="images/portlandia-banner.png" width="max-width" height="200"><br>
  <nav class="nav-links">
  <ul class="nav-ul">
    <li class="nav-li"><a class="nav-li" href="/">Home</a></li>
    <% if !current_user %>
    <li class="nav-li"><a class="nav-li"  href="/users/new">Sign Up</a></li>
    <li class="nav-li"><a class="nav-li"  href="/login">Log In</a></li>
    <% end %>
  <% if current_user %>
    <li class="nav-li"><a id="new_form_button" class="nav-li" href="/questions/new">Post a Question</a></li>
    <form action="/logout" method="POST">
      <input type="hidden" name="_method" value="delete">
      <input class="logout" type="submit" value="Logout">
    </form>
  <% end %>
  </ul>
</nav>
<br>
<div id="new_question_form"><%=erb :'questions/_new_question', layout: false%></div>
  <%= yield %>
</body>
</html>
